<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>dashboard</h1>
    <a href="/user/signout_student" class="btn btn-secondary">Sign Out</a>
    <strong>ID:</strong> {{ session['user']['_id'] }}<br>
    <strong>first_name:</strong> {{ session['user']['first_name'] }}<br>
    <strong>cmu_acc:</strong> {{ session['user']['cmu_acc'] }}<br>
    <strong>type:</strong> {{ session['type'] }}
    <script src="/se_work/web/app/static/js/jquery.js"></script>
    <script src="/se_work/web/app/static/js/scripts.js"></script>
</body>
</html>