<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="static/css/homepage.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
  <title>Home</title>
</head>

<body>
  <div class="topnav">
    <a class="active">Computer Science CMU</a>
  </div>
  <div class="home">
    <img class="SC-CMU-logo" src="static/img/SC_CMU_Logo.png" />
    <div class="topic">
      ระบบตรวจสอบการสำเร็จการศึกษา<br />หลักสูตรวิทยาศาสตร์บัณฑิต สาขาวิทยาการคอมพิวเตอร์
    </div>
    <p class="graduation">
      Graduation Verification System<br />for Bachelor of Science Program in Computer Science
    </p>
    <button id="studentButton" class="BloginS" type="button">สำหรับนักศึกษา<br />Student Login</button>
    <button id="teacherButton" class="BloginT" type="button">สำหรับอาจารย์<br />Teacher Login</button>
    <button id="t2Button" class="BloginT2" type="button">สำหรับ<br />ผู้นำเข้าหลักสูตร</button>
    <a class="who" href="/who" > No account? Register <i class="bi bi-arrow-right"></i></a>
  </div>
</body>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    // หาปุ่ม "นักศึกษา" และ "อาจารย์" โดยใช้ ID
    const studentButton = document.getElementById("studentButton");
    const teacherButton = document.getElementById("teacherButton");
  
    // เพิ่มการรับคลิกปุ่ม "นักศึกษา"
    studentButton.addEventListener("click", function () {
      // ส่งค่า 1 ไปยังหน้า "/login"
      window.location.href = "/login?userType=1";
    });
  
    // เพิ่มการรับคลิกปุ่ม "อาจารย์"
    teacherButton.addEventListener("click", function () {
      // ส่งค่า 2 ไปยังหน้า "/login"
      window.location.href = "/login?userType=2";
    });

    t2Button.addEventListener("click", function () {
      // ส่งค่า 3 ไปยังหน้า "/login"
      window.location.href = "/login?userType=3";
    });
  });
  </script>
  

</html>