<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="static/css/login.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
  <title>Login</title>
</head>

<body>

  <div class="topnav">
    <a class="active">Computer Science CMU</a>
  </div>
  <div class="log">Login</div>
  <div class="modal">
    <form name="login_form" method="POST">
      <div class="email">Email</div>
        <input type="email" name="cmu_acc" class="enter_e">
      <div class="password">Password</div>
        <input type="password" name="pass" class="enter_p">

      <div class="noacc">
        <a class="who--hidden" href="/who"> No account? Register <i class="bi bi-arrow-right"></i></a>
      <p class="error error--hidden"></p>
      </div>
      <input class="Login" id="myBtn" type="submit" value="Login">
    </form>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>

    // ดึงค่า userType จาก URL
    const urlParams = new URLSearchParams(window.location.search);
    const userType = urlParams.get('userType');

    // ตรวจสอบค่า userType
    if (userType === '1') {
      console.log("sdfghjkl")
      // กระทำสิ่งที่คุณต้องการเมื่อ userType เป็น '1'
      $(document).ready(function () {
        $("form[name=login_form]").submit(function (e) {
          e.preventDefault();

          var $form = $(this);
          var $error = $form.find(".error");
          var data = $form.serialize();

          $.ajax({
            url: "/user/login_student",
            type: "POST",
            data: data,
            dataType: "json",
            success: function (resp) {
              console.log(resp);
              // หลังจากส่งข้อมูลสำเร็จ นำทางไปยังหน้า "/home"
              window.location.href = "/overview";
            },
            error: function (resp) {
              $error.text(resp.responseJSON.error).removeClass("error--hidden");
            }
          });
        });
      });
    } else if (userType === '2'){
      // กระทำสิ่งที่คุณต้องการเมื่อ userType ไม่ใช่ '1' (หรือไม่มี userType)
      $(document).ready(function () {
        $("form[name=login_form]").submit(function (e) {
          e.preventDefault();

          var $form = $(this);
          var $error = $form.find(".error");
          var data = $form.serialize();

          $.ajax({
            url: "/user/login_teacher",
            type: "POST",
            data: data,
            dataType: "json",
            success: function (resp) {
              console.log(resp);
              // หลังจากส่งข้อมูลสำเร็จ นำทางไปยังหน้า "/home"
              window.location.href = "/teacher_home";
            },
            error: function (resp) {
              $error.text(resp.responseJSON.error).removeClass("error--hidden");
            }
          });
        });
      });
    } else if (userType === '3'){
      $(document).ready(function () {
        $("form[name=login_form]").submit(function (e) {
          e.preventDefault();

          var $form = $(this);
          var $error = $form.find(".error");
          var data = $form.serialize();

          $.ajax({
            url: "/user/login_curriculum_manager",
            type: "POST",
            data: data,
            dataType: "json",
            success: function (resp) {
              console.log(resp);
              // หลังจากส่งข้อมูลสำเร็จ นำทางไปยังหน้า "/home"
              window.location.href = "/subject_add";
            },
            error: function (resp) {
              $error.text(resp.responseJSON.error).removeClass("error--hidden");
            }
          });
        });
      });
    }


  </script>
</body>



</html>