<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/overview.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <title>Overview</title>
</head>

<body>
    <nav>
        <a class="active">Computer Science CMU</a>
        <ul class="menu">
            <li class="list">
                <a href="javascript:void(0);" onclick="ShowPopupMenu();"><i class="bi bi-list"></i></a>
                <ul class="popup-menu" id="popupMenu">
                    <li><a href="/overview">ภาพรวม/Overview</a></li>
                    <li><a href="/subject_credit">ภาพรวมหลักสูตร/Subjects</a></li>
                    <li><button class="Logout" type="button">Log out</button></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div class="info">
        <p class="text">
            <span class="span">ชื่อ - นามสกุล / Name - Surname:<br /></span>
            <span class="span">รหัสนักศึกษา / Student ID:<br /></span>
            <span class="span">อาจารย์ที่ปรึกษา / Advisor:</span>
        </p>
    </div>
    <!-- link ไฟล์ excel ยังทำไม่ได้ -->
    <div class="temp">Download excel template</div> 
    <div class="plans">แผนการศึกษา: แผน ...</div>
    <button class="Bplan" type="button">Choose</button>
    <div class="gpa">Cumulative GPA :</div>
    <!-- จะทำเป็น link กดไป folder ในคอม แต่ทำไม่ได้ -->
    <div class="impex">Import ข้อมูลการลงทะเบียนโดย excel</div> 
    <div class="study">Overview
        <div class="y1">Year 1
            <div class="board">
                <div class="vl">
                    <div class="sid">001101
                        <span class="g">Grade:
                            <span class="grade">A</span>
                        </span>
                    </div>
                </div>
                
            </div>
            <!--<button class="edit" type="button">Edit</button>-->
        </div>
        <div class="y2">Year 2
            <div class="board">
                <div class="vl">
                    <div class="sid">001101
                        <span class="g">Grade:
                            <span class="grade">A</span>
                        </span>
                    </div>
                </div>
            </div>
            <!--<button class="edit" type="button">Edit</button>-->
        </div>
        <div class="y3">Year 3
            <div class="board">
                <div class="vl">
                    <div class="sid">001101
                        <span class="g">Grade:
                            <span class="grade">A</span>
                        </span>
                    </div>
                </div>
            </div>
            <!--<button class="edit" type="button">Edit</button>-->
        </div>
        <div class="y4">Year 4
            <div class="board">
                <div class="vl">
                    <div class="sid">001101
                        <span class="g">Grade:
                            <span class="grade">A</span>
                        </span>
                    </div>
                </div>
            </div>
            <!--<button class="edit" type="button">Edit</button>-->
        </div>
    </div>

    <script>
        function ShowPopupMenu() {
            let popupMenu = document.getElementById('popupMenu');

            if (popupMenu.style.display === 'none') {
                popupMenu.style.display = 'block';
            } else {
                popupMenu.style.display = 'none';
            }
        }
    </script>
</body>

</html>