<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/overview.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500&display=swap" rel="stylesheet">

    

    
    <script src="/static/js/scripts.js"></script>
     <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <title>ข้อมูลการลงทะเบียนเรียน</title>
</head>

<body>
    <nav>
        <a class="active">Computer Science CMU</a>
        <ul class="menu">
            <li class="list">
                <a href="javascript:void(0);" onclick="ShowPopupMenu();"><i class="bi bi-list"></i></a>
                <ul class="popup-menu" id="popupMenu">
                    <li><a href="/overview">ข้อมูลการลงทะเบียนเรียน/Overview</a></li>
                    <li><a href="/subject_credit">ภาพรวมหลักสูตร/Subjects</a></li>
                    <li><button class="Logout" type="button"><a href="/user/signout_student" class="btn btn-secondary">Sign Out</a></button></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div class="info">
        <div class="text" style="font-size: 25px;">
            <span class="span" style="color: yellow;">ชื่อ - นามสกุล / Name - Surname: <br></span>
            <span id="namefirst" class="span"></span><br>
            <span class="span" style="color: yellow;">รหัสนักศึกษา / Student ID: </span><br>
            <span id="idfirst" class="span" >- {{ session['user']['_id'] }}</span><br>
            <span class="span" style="color: yellow;">อาจารย์ที่ปรึกษา / Adviser: </span><br>
            <span class="span" id="tea"></span><br>
            <span class="span" style="color: yellow;">วิชาโท / Minor: <br>
                <select name="minor" style="font-size: 20px;">
                    <optgroup label="เลือกวิชาโท">
                        <option value="ไม่เลือกวิชาโท">ไม่เลือกวิชาโท</option>
                    </optgroup>
                </select>
            </span><br>
    
            <!-- Move the <form> element inside the <p> element -->
            <form id="plan_form" action="/set_plan" method="post">
                <span class="span" style="color: yellow;">แผนการศึกษา:<br></span >
                <select id="planner" name="plan_study" style="font-size: 20px;">
                    <optgroup id="planer" label="แผนการศึกษา">
                    </optgroup>
                </select>
            </form>
            <!-- ... Other content ... -->
        </div>
    </div>  
    <!-- link ไฟล์ excel ยังทำไม่ได้ -->
    
    <div class="farright">
        <div id="GPAA" class="gpa">Cumulative GPA :</div><br><br>
        <br>
        <div class="impex" style="margin-bottom: 10px;">Import ข้อมูลการลงทะเบียนโดย excel</div>
        <div class="temp" style="margin-bottom: 10px;"><span id="dowlod" onclick="downloadFile()">Download excel template</span></div>
        <button class="Bplan" id="uploadButton" name="choose" type="button" onclick="chooseFile()">Upload ข้อมูลจาก Excel</button>
        
        <br><br>
        <input type="file" id="fileInput" style="display: none;">
        
        
        
        <!-- <button id="myBtn1" class="edit" type="button">เพิ่ม</button>
        <button id="myBtn" class="edit" type="button">ลบ</button> -->
    </div>
    
    <!-- จะทำเป็น link กดไป folder ในคอม แต่ทำไม่ได้ -->
    
    <div class="study">ข้อมูลการลงทะเบียนเรียน <br>
        
        <button id="myBtn1" class="edit" type="button">เพิ่มวิชา</button>
        <button id="myBtn" class="edit" type="button">ลบวิชา</button>
        
        <div class="y1">Year 1
            <div id="loop"class="board"></div>
        </div>
        <div class="y2">Year 2
            <div id="loop2"class="board">
                
            </div>
            
        </div>
        <div class="y3">Year 3
            <div id="loop3"class="board">
                
            </div>
            <!-- <button class="edit" type="button">Edit</button> -->
        </div>
        <div class="y4">Year 4
            <div id ="loop4"class="board">
                
            </div>
            <!-- <button class="edit" type="button">Edit</button> -->
        </div>
        <div class="y5">Year 5
            <div id ="loop5"class="board">    
            </div>
            <!-- <button class="edit" type="button">Edit</button> -->
        </div>
        <div class="y6">Year 6
            <div id ="loop6"class="board">    
            </div>
            <!-- <button class="edit" type="button">Edit</button> -->
        </div>
        <div class="y7">Year 7
            <div id ="loop7"class="board">    
            </div>
            <!-- <button class="edit" type="button">Edit</button> -->
        </div>
        <div class="y8">Year 8
            <div id ="loop8"class="board">    
            </div>
            <!-- <button class="edit" type="button">Edit</button> -->
        </div>
    </div>


    <div id="myModal" class="modal">
    <!-- Modal content -->
        <div class="modal-content">
        <span class="close ttt">&times;</span>
        <p class="ids">รหัสวิชา</p>
        <form name="formdel" class="delbox">
            <input type="text" name="subj" class="id" placeholder="รหัสวิชา เช่น 204111" required>
            <input class="Del" id="myBtn" type="submit" value="ลบ">
        </form> 
        </div>
    </div>

    <div id="myModal1" class="modal">
    <!-- Modal1 content -->
        <div class="modal-content">
        <span class="close ttt1">&times;</span>
        <div class="ids2">เพิ่มวิชา</div>
        <form name="formadd">
            <div class="center-container">
                <input type="text" name="subj" class="input-a" placeholder="รหัสวิชา เช่น 204111" required>
                <input type="text" name="subject_n" class="input-a" placeholder="ชื่อวิชา(eng) เช่น Fundamentals of Programming" required>
                <label for="grade" class="input-a-label">เกรดที่ได้รับ</label>
                <select name="grade" class="input-ax" required>
                      <option value="" disabled selected hidden>เลือกเกรด</option>
                      <option value="4">A</option>
                      <option value="3.5">B+</option>
                      <option value="3">B</option>
                      <option value="2.5">C+</option>
                      <option value="2">C</option>
                      <option value="1.5">D+</option>
                      <option value="1">D</option>
                      <option value="s">S</option>
                    </select>
                    <label for="grade" class="input-a-label">ปี่ที่รับการศึกษา</label>
                    <select name="year" class="input-ax" required>
                      <option value="" disabled selected hidden>เลือกปี</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                    </select>
                <input type="text" name="credit" class="input-a" placeholder="หน่วยกิต เช่น 2, 3" required>
                
                
                <input class="Add" id="myBtn" type="submit" value="เพิ่ม">
            </div>
                
        </form>
        </div>
    </div>
    <script>   
        $("form[name=formdel]").submit(function (e) {
            e.preventDefault();
            var $form = $(this);
            var data = $form.serialize();
            var d = data.slice(5);
            var txta = "ต้องการลบรหัสวิชา "+ d +" หรือไม่ ?";
            var resul = confirm(txta);
            
            console.log(d);
            if(resul == true){
                $.post("/overview", data, function(res){
                    if(res.status === "error"){
                        window.alert(res.message);
                        //$('#myModal').attr('hidden', 'hidden'); 
                        modal.style.display = "none";
                    }else if(res.status === "success"){
                        window.alert(res.message);
                        window.location.href = "/overview"; 
                    }
                });
            }
            
            
        });

        $("form[name=formadd]").submit(function (e) {
            e.preventDefault();
            var $form = $(this);
            var data = $form.serialize();
            $.post("/form2", data, function(res){
                if(res.status === "error"){
                    window.alert(res.message);
                    modal1.style.display = "none";
                    
                }else if(res.status === "success"){
                    window.alert(res.message);
                    window.location.href = "/overview"; 
                }else if(res.status === "error1"){
                    window.alert(res.message);

                }
            });
            
        });
        
        console.log("AAA");
        console.log("{{session['user']['study_plan']}}");

        function plan_set(data){
            var plann = data["study_plan"];
            var container = document.getElementById("planer");
            html = '';
            console.log(plann);
            html += `<option value="${plann}">${plann}</option>`;
            if(plann == "แผนปกติ"){
                console.log("AAAA"); 
                html += `<option value="แผนสหกิจศึกษา">แผนสหกิจศึกษา</option><option value="แผนก้าวหน้า">แผนก้าวหน้า</option>`;
            }
            if(plann == "แผนสหกิจศึกษา"){
                html += `<option value="แผนปกติ">แผนปกติ</option><option value="แผนก้าวหน้า">แผนก้าวหน้า</option>`;
            }
            if(plann == "แผนก้าวหน้า"){
                html += `<option value="แผนปกติ">แผนปกติ</option><option value="แผนสหกิจศึกษา">แผนสหกิจศึกษา</option>`;
            }
            container.innerHTML += html;
            
            $("#planner").change(function(){
                var selectedOption = $(this).val();

                var confirmation = confirm("เปลี่ยนแผนการศึกษาหรือไม่");
                
                if(confirmation){
                    $("#plan_form").submit();
                }else{
                    $(this).val(plann); 
                }
            });
                        
                        
                        

        }


    
        function add_sub(data){
            console.log("AAAAAAAAAAAAAA");
            console.log(data);
            console.log("AAAAAAAAAAAAAA");
            var url = '/add_sub_all'       
            $.post(url, data, function(res){
                console.log(res);
                window.alert(res.message);
                window.location.href = "/overview";
            })
        }
        var modal = document.getElementById("myModal");
        var modal1 = document.getElementById("myModal1");

        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");
        var btn1 = document.getElementById("myBtn1");
        

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("ttt")[0];
        var span1 = document.getElementsByClassName("ttt1")[0];
        $('.y5').attr('hidden', 'hidden');
        $('.y5').removeAttr('hidden', 'hidden');
        // When the user clicks the button, open the modal
        btn.onclick = function () {
        modal.style.display = "block";
        }
        btn1.onclick = function () {
        modal1.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
        modal.style.display = "none";
        }
        span1.onclick = function () {
        modal1.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
        }
        window.onclick = function (event) {
        if (event.target == modal1) {
            modal1.style.display = "none";
        }
        }
    function downloadFile() {
        // นี่คือส่วนของโค้ดที่คุณสามารถใช้ในการดาวน์โหลดไฟล์ Excel
        // ในที่นี้จะแสดงตัวอย่างโค้ดเปิดหน้าต่างดาวน์โหลดไฟล์
        var downloadLink = document.createElement('a');
        downloadLink.href = '/static/form.xlsx'; // URL ของไฟล์ Excel
        downloadLink.download = 'form.xlsx'; // ชื่อไฟล์ที่จะดาวน์โหลด
        downloadLink.click();
    }

    

    document.getElementById('fileInput').addEventListener('change', function() {
        var selectedFile = this.files[0];
        if (selectedFile) {
            // ทำสิ่งที่คุณต้องการกับไฟล์ที่ถูกเลือกที่นี่
            console.log('ได้รับไฟล์: ' + selectedFile.name);

            // สามารถทำการอัพโหลดไฟล์ไปยังเซิร์ฟเวอร์ที่ต้องการที่นี่
            // เช่น การใช้ Fetch API หรือ XMLHttpRequest
            // โดยให้ตรวจสอบเอกสารและโค้ดของเซิร์ฟเวอร์ของคุณสำหรับรายละเอียดเพิ่มเติม
        }
    });


        const hoverText = document.getElementById("dowlod");

        hoverText.onmouseover = function() {
            hoverText.style.color = "gray"; // Change text color on hover
            hoverText.style.cursor = "pointer";
        };

        hoverText.onmouseout = function() {
            hoverText.style.color = "#00fd37 "; // Reset text color when mouse leaves
            hoverText.style.cursor = "default";
        };
        
    



        var ch1 = 0;
        var ch2 = 0;
        var ch3 = 0;
        var ch4 = 0;
        var ch5 = 0;
        var ch6 = 0;
        var ch7 = 0;
        var ch8 = 0;
        function displayData(data){
            var allgrade = 0;
            var allcredit = 0;
            console.log(data[0]["subject_id"]);
            console.log(data[0]);
            console.log(data.length)
            
            var container1 = document.getElementById("loop");
            var container2 = document.getElementById("loop2");
            var container3 = document.getElementById("loop3");
            var container4 = document.getElementById("loop4");
            var container5 = document.getElementById("loop5");
            var container6 = document.getElementById("loop6");
            var container7 = document.getElementById("loop7");
            var container8 = document.getElementById("loop8");
            
            
            for(var i = 0; i < data.length; i++){
                html = '';
                var num;
                if(data[i]["grade"] == "4"){
                    num = "A"
                    allgrade += 4*data[i]['credit'];
                    allcredit += data[i]['credit'];
                }
                if(data[i]["grade"] == "3.5"){
                    num = "B+"
                    allgrade += 3.5*data[i]['credit'];
                    allcredit += data[i]['credit'];
                }
                if(data[i]["grade"] == "3"){
                    num = "B"
                    allgrade += 3*data[i]['credit'];
                    allcredit += data[i]['credit'];
                }
                if(data[i]["grade"] == "2.5"){
                    num = "C+"
                    allgrade += 2.5*data[i]['credit'];
                    allcredit += data[i]['credit'];
                }
                if(data[i]["grade"] == "2"){
                    num = "C"
                    allgrade += 2*data[i]['credit'];
                    allcredit += data[i]['credit'];
                }
                if(data[i]["grade"] == "1.5"){
                    num = "D+"
                    allgrade += 1.5*data[i]['credit'];
                    allcredit += data[i]['credit'];
                }
                if(data[i]["grade"] == "1"){
                    num = "D"
                    allgrade += 1*data[i]['credit'];
                    allcredit += data[i]['credit'];
                }
                if(data[i]["grade"] == "0"){
                    num = "F"
                    allcredit += data[i]['credit'];
                }
                if(data[i]['grade'] == 's'){
                    num = 's'
                }
                html+= `<div class='sid'><span class="left-content">${data[i]["subject_id"]}</span><span class="middle-content">Grade:</span><span class="right-content">${num}</span></div>`; 
                if(data[i]['year'] == 1){
                    container1.innerHTML += html;
                    ch1++;
                }
                else if(data[i]['year'] == 2){
                    container2.innerHTML += html;
                    ch2++;

                }
                else if(data[i]['year'] == 3){
                    container3.innerHTML += html;           
                    ch3++;
                }
                else if(data[i]['year'] == 4){
                    container4.innerHTML += html;             
                    ch4++;
                }
                else if(data[i]['year'] == 5){
                    container5.innerHTML += html;                 
                    ch5++;
                }
                else if(data[i]['year'] == 6){
                    container6.innerHTML += html;                   
                    ch6++;
                }
                else if(data[i]['year'] == 7){
                    container7.innerHTML += html;                    
                    ch7++;
                }
                else if(data[i]['year'] == 8){
                    container8.innerHTML += html;    
                    ch8++;
                }
                
            }
            // for(var k = 0; k <16- j; k++){
            //     html+= `<div class='sid'><span class="left-content">&nbsp;</span><span class="middle-content">&nbsp;</span><span class="right-content">&nbsp;</span></div>`; 

            // }
            var gg = 0;
            if(allcredit != 0){
                gg = (allgrade/allcredit).toFixed(3);
            }
            
            var ggt = Math.round(gg * 100) / 100;
            ggt = ggt.toFixed(2);
            var con = document.getElementById("GPAA").innerHTML += " "+ ggt;
            
            for(var i = 0; i < 16-ch1; i++){
                container1.innerHTML += `<div class='sid'><span class="left-content">&nbsp;</span><span class="middle-content">&nbsp;</span><span class="right-content">&nbsp;</span></div>`;
            }
            for(var i = 0; i < 16-ch2; i++){
                container2.innerHTML += `<div class='sid'><span class="left-content">&nbsp;</span><span class="middle-content">&nbsp;</span><span class="right-content">&nbsp;</span></div>`;
            }
            for(var i = 0; i < 16-ch3; i++){
                container3.innerHTML += `<div class='sid'><span class="left-content">&nbsp;</span><span class="middle-content">&nbsp;</span><span class="right-content">&nbsp;</span></div>`;
            }
            for(var i = 0; i < 16-ch4; i++){
                container4.innerHTML += `<div class='sid'><span class="left-content">&nbsp;</span><span class="middle-content">&nbsp;</span><span class="right-content">&nbsp;</span></div>`;
            }
            for(var i = 0; i < 16-ch5; i++){
                container5.innerHTML += `<div class='sid'><span class="left-content">&nbsp;</span><span class="middle-content">&nbsp;</span><span class="right-content">&nbsp;</span></div>`;
            }
            for(var i = 0; i < 16-ch6; i++){
                container6.innerHTML += `<div class='sid'><span class="left-content">&nbsp;</span><span class="middle-content">&nbsp;</span><span class="right-content">&nbsp;</span></div>`;
            }
            for(var i = 0; i < 16-ch7; i++){
                container7.innerHTML += `<div class='sid'><span class="left-content">&nbsp;</span><span class="middle-content">&nbsp;</span><span class="right-content">&nbsp;</span></div>`;
            }
            for(var i = 0; i < 16-ch8; i++){
                container8.innerHTML += `<div class='sid'><span class="left-content">&nbsp;</span><span class="middle-content">&nbsp;</span><span class="right-content">&nbsp;</span></div>`;
            }

            
            if(ch5 == 0 && ch6 == 0){
                $('.y5').attr('hidden', 'hidden');   
                $('.y6').attr('hidden', 'hidden');   
            }else{
                $('.y5').removeAttr('hidden', 'hidden'); 
                $('.y6').removeAttr('hidden', 'hidden'); 
            }
            if(ch7 == 0 && ch8 == 0){
                $('.y7').attr('hidden', 'hidden');   
                $('.y8').attr('hidden', 'hidden');   
            }else{
                $('.y5').removeAttr('hidden', 'hidden'); 
                $('.y6').removeAttr('hidden', 'hidden'); 
                $('.y7').removeAttr('hidden', 'hidden'); 
                $('.y8').removeAttr('hidden', 'hidden'); 
            }
                       
            
            
                
            
        }
        
        function showteacher(data){
            // 
            html = '';
            if(data.length == 0){
                html = "- รอดำเนินการจาก Adviser";
            }else{
                var a= data[0]["first_name"];
                var b= data[0]["last_name"];
                html = `- ${a} ${b}`;
                
            }
            
            console.log(a);
            
            var container = document.getElementById("tea");
            
            container.innerHTML = html;

        }
        
        function displayinfo(data){
            var namecon = document.getElementById("namefirst").innerHTML = `- ${data['first_name']} ${data['last_name']} `;

        }
        $(document).ready(function () {
            
            $.getJSON("/get_info", function (data) {
                // Call the displayData function to update the HTML with the received data
                displayinfo(data);
                plan_set(data);
            });

            $.getJSON("/data5", function (data) {
                // Call the displayData function to update the HTML with the received data
                displayData(data);
            });
           
            $.getJSON("/tadvisee", function (data) {
                // Call the displayData function to update the HTML with the received data
                showteacher(data);
            });
            
            if(ch6 == 0 && ch5 == 0){
                $('.y6').attr('hidden', 'hidden');
                $('.y5').attr('hidden', 'hidden'); 
            }
            if(ch7 == 0 && ch8 == 0){
                $('.y7').attr('hidden', 'hidden');
                $('.y8').attr('hidden', 'hidden'); 
            }else{
                $('.y6').removeAttr('hidden', 'hidden');
                $('.y5').removeAttr('hidden', 'hidden'); 

            }
        });

        function ShowPopupMenu() {
            let popupMenu = document.getElementById('popupMenu');

            if (popupMenu.style.display === 'none') {
                popupMenu.style.display = 'block';
            } else {
                popupMenu.style.display = 'none';
            }
        }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.4/xlsx.full.min.js"></script>
    <script>
        function chooseFile() {
          // เรียกใช้งาน input ที่ซ่อนไว้
          const fileInput = document.getElementById('fileInput');
          
          // กำหนดคอนฟิกเลือกสำหรับ input เป็นไฟล์ Excel
          fileInput.accept = '.xlsx, .xls';
          
          // เมื่อไฟล์ถูกเลือก
          fileInput.addEventListener('change', function(e) {
            const file = e.target.files[0];
            
            // ตรวจสอบว่ามีไฟล์ที่ถูกเลือก
            if (file) {
              const reader = new FileReader();
              
              // เมื่ออ่านไฟล์เสร็จสิ้น
              reader.onload = function(event) {
                const data = event.target.result;
                
                // ใช้ SheetJS เพื่อแปลง Excel เป็น JSON
                const workbook = XLSX.read(data, { type: 'binary' });
                const jsonData = XLSX.utils.sheet_to_json(workbook.Sheets[workbook.SheetNames[0]]);
                
                // jsonData จะมีข้อมูล JSON จาก Excel
                console.log('jsonData  ===> ', jsonData);
                // enroll_all = {}
                //---------------แปลงให้อยู่รูปแบบที่ถูกสำหรับจัดเก็บ-----------
                console.log("HELLO");
                if (Array.isArray(jsonData) && jsonData.length > 0) {
                for (let i = 0; i < jsonData.length; i++) {
                    if (isNaN(jsonData[i].__EMPTY_1)) {
                    jsonData.splice(i, 1); // ลบอ็อบเจ็กต์ที่มี credit เป็น NaN ออกจากอาร์เรย์
                    i--; // เพื่อป้องกันการข้ามอ็อบเจ็กต์หลังจากการลบ
                    }
                }
                } else {
                    console.error("enroll_add is not an array or is empty");
                }
                var yyy;
                const transformedData = jsonData.map(item => {
                    const subject_id = item.__EMPTY_1.toString();
                    const  subject_name = item.__EMPTY_2.toString();

                    if (item.__EMPTY_5){
                        yyy = parseFloat(item.__EMPTY_5);
                        console.log('ssss');
                    }
                    const year = parseFloat(item.__EMPTY_5) || yyy; // ถ้าไม่มีข้อมูลปีกำหนดให้เป็น 1
                    const grade = item.__EMPTY_3.toString();
                    const credit = parseFloat(item.__EMPTY_4);
                    return { subject_id, subject_name, grade, credit , year};
                });

                const enroll_add = { enroll: transformedData }; 

                enroll_add_all = enroll_add['enroll'];
                // ลบ row แรก 
                if (Array.isArray(enroll_add_all) && enroll_add_all.length > 0) {
                for (let i = 0; i < enroll_add_all.length; i++) {
                    if (isNaN(enroll_add_all[i].credit)) {
                    enroll_add_all.splice(i, 1); // ลบอ็อบเจ็กต์ที่มี credit เป็น NaN ออกจากอาร์เรย์
                    i--; // เพื่อป้องกันการข้ามอ็อบเจ็กต์หลังจากการลบ
                    }
                }
                } else {
                console.error("enroll_add is not an array or is empty");
                }




                console.log('enroll_add_all ==> ', enroll_add_all); 
                console.log('enroll_add_all ==> ', typeof(enroll_add_all));
                // console.log("{{session['stu']}}"); 

                console.log("aaaa");
                console.log("aaaa");
                add_sub(enroll_add);
                
                // console.log('enroll_add ==> ', Object.keys(enroll_add).length) 
                // console.log('enroll_add ==> ', Object.keys(enroll_add)) 


               
              };
              
              // อ่านไฟล์เป็น binary
              reader.readAsBinaryString(file);
            }
          });
          
          // เปิดหน้าต่างเลือกไฟล์
          fileInput.click(); 
          
          
        }
        

        
    </script>
    
</body>

</html>