<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/reg_t.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <title>Teacher Register</title>
</head>

<body>
    <nav>
        <a class="active">Computer Science CMU</a>
    </nav>
    <div class="rectangle">
        <form name="signup_form" method="POST">
            <div class="topic">ข้อมูลอาจารย์ - Teacher's Info</div>
            <div class="topic1">ชื่อ - Name

                <input type="text" name="first_name" class="name" placeholder="Enter name" required>

            </div>
            <div class="topic2">นามสกุล - Surname

                <input type="text" name="last_name" class="surname" placeholder="Enter surname" required>

            </div>
            <div class="topic5">Email

                <input type="email" name="cmu_acc" class="mail" placeholder="Enter email" required>

            </div>
            <div class="topic6">Password

                <input type="password" name="pass" class="pass" placeholder="Enter password" required>
                <p class="error error--hidden"></p>

            </div>
            <div class="choose">เข้าใช้งานในฐานะ <br>
                <input class="t" type="radio" id="t" name="fav_language" value="teacher">
                <label for="t">อาจารย์</label><br>
                <input class="ts" type="radio" id="ts" name="fav_language" value="ts">
                <label for="ts">ผู้นำเข้าหลักสูตร</label><br>
            </div>
            <input class="next" type="submit" value="Next">
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        function ShowPopupMenu() {
            let popupMenu = document.getElementById('popupMenu');

            if (popupMenu.style.display === 'none') {
                popupMenu.style.display = 'block';
            } else {
                popupMenu.style.display = 'none';
            }
        }

        $(document).ready(function () {
            $("form[name=signup_form]").submit(function (e) {
                e.preventDefault();

                var $form = $(this);
                var $error = $form.find(".error");
                var data = $form.serialize();

                $.ajax({
                    url: "/user/signup_teacher",
                    type: "POST",
                    data: data,
                    dataType: "json",
                    success: function (resp) {
                        console.log(resp);
                        // หลังจากส่งข้อมูลสำเร็จ นำทางไปยังหน้า "/home"
                        window.location.href = "/home";
                    },
                    error: function (resp) {
                        $error.text(resp.responseJSON.error).removeClass("error--hidden");
                    }
                });
            });
        });
    </script>
</body>

</html>