<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/css/subject_cd.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <title>Subject Credits</title>
</head>

<body>
    <nav>
        <a class="active">Computer Science CMU</a>
        <ul class="menu">
            <li class="list">
                <a href="javascript:void(0);" onclick="ShowPopupMenu();"><i class="bi bi-list"></i></a>
                <ul class="popup-menu" id="popupMenu">
                    <li><a href="/overview">ภาพรวม/Overview</a></li>
                    <li><a href="/subject_credit">ภาพรวมหลักสูตร/Subjects</a></li>
                    <li><button class="Logout" type="button"><a href="/user/signout_student" class="btn btn-secondary">Sign Out</a></button></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div class="topic">ภาพรวมหลักสูตร</div>
    <div id="gpatotal" class="gpa">เกรดเฉลี่ยรวม    : <span id="totalgpa"></span> / <span id="toplan"></span></div>
    <div id="gpamajortotal" class="gpa">เกรดเฉลี่ยวิชาเอก : <span id="majorgpa"></span> / <span id="maplan"></span></div>
    <div class="required">วิชาบังคับ<br />(Required Courses)
        <div id="reqbox" class="rec1"></div>
        <div class="cr">Credits:
            <div id="1" class="crbox"><span id="bfreq"></span><span id="req"></span></div>
        </div>
    </div>
    <div class="compulsory">วิชาเอกบังคับร่วม<br />(Compulsory Courses)
        <div id="reqcobox" class="rec2"></div>
        <div class="cr">Credits:
            <div id="2" class="crbox"><span id="bfreqco"></span><span id="reqco"></span></div>
        </div>
    </div>
    <div class="plan-spe">วิชาเอกบังคับประจำแผน<br />(Plan-specific)
        <div id="speccobox" class="rec3"></div>
        <div class="cr">Credits:
            <div id="3" class="crbox"><span id="bfspecco"></span><span id="specco"></span></div>
        </div>
    </div>
    <div class="core-courses">วิชาแกน<br />(Core Courses)
        <div id="corebox" class="rec4"></div>
        <div class="cr">Credits:
            <div id="4" class="crbox"><span id="bfcore"></span><span id="core"></span></div>
        </div>
    </div>
    <div class="major">วิชาเอกเลือก<br />(Major Elective Courses)
        <div id="majorbox" class="rec5"></div> 
        <div class="cr">Credits:
            <div id="5" class="crbox"><span id="bfmajorco"></span><span id="majorco"></span></div>      
        </div>
        <div class="cr1">400: 
            <div id="5.1" class="crbox"><span id="bf400"></span><span id="400"></span></div>      
        </div>
        <div class="cr2">700:
            
            <div id="5.2" class="crbox"><span id="bf700"></span><span id="700"></span></div>      
        </div>
            
        
    </div>
    <div class="minor">วิชาโท<br />(Minor Courses)
        <div id="minorbox" class="rec6"></div>
        <div class="cr">Credits:
            <div id="6" class="crbox"><span id="bfminor"></span><span id="minor"></span></div>
        </div>
    </div>
    <div class="ge">วิชาเลือกทั่วไป<br />(GE Elective)
        <div id="gebox" class="rec7"></div>
        <div class="cr">Credits:
            <div id="7" class="crbox"><span id="bfge"></span><span id="ge"></span></div>
        </div>
    </div>
    <div class="free">วิชาเลือกเสรี<br />(Free Elective)
        <div id="freebox" class="rec8"></div>
        <div class="cr">Credits:
            <div id="8" class="crbox"><span id="bffree"></span><span id="free"></span></div>
        </div>
    </div>

    <script> 
        
        
        function showdata(data, curri){
            var gpatop = 0;
            var gpadown = 0;

            var majorgpatop = 0;
            var majorgpadown = 0;

            var credit1 = 0;
            var credit2 = 0; 
            var credit3 = 0;
            var credit4 = 0; 
            var credit5 = 0;
            var credit6 = 0;
            var credit7 = 0;
            var credit8 = 0;
            var credit400 = 0;
            var credit700 = 0;

            var container1 = document.getElementById("reqbox");
            var container2 = document.getElementById("reqcobox");
            var container3 = document.getElementById("speccobox");
            var container4 = document.getElementById("corebox"); 
            var container5 = document.getElementById("majorbox"); 
            var container6 = document.getElementById("minorbox"); 
            var container7 = document.getElementById("gebox"); 
            var container8 = document.getElementById("freebox"); 
            var cn1 = document.getElementById("bfreq");
            var cn2 = document.getElementById("bfreqco");
            var cn3 = document.getElementById("bfspecco"); 
            var cn4 = document.getElementById("bfcore");
            var cn5 = document.getElementById("bfmajorco");
            var cn6 = document.getElementById("bfminor");
            var cn7 = document.getElementById("bfge");
            var cn8 = document.getElementById("bffree");
            var cn400 = document.getElementById("bf400");
            var cn700 = document.getElementById("bf700");
            
            
            
            
            var cre_5 = parseInt(document.getElementById("majorco").textContent); 
            var cre_400 = parseInt(document.getElementById("400").textContent); 
            var cre_700 = parseInt(document.getElementById("700").textContent); 
            //console.log(cre_5)
            

            data.sort((a, b) => b.subject_id - a.subject_id)
            for(var i = 0; i < data.length; i++){
                gpatop += data[i]["grade"] * data[i]["credit"];
                gpadown += data[i]["credit"];
                var html = ''; 
                if(testt(data[i]["subject_id"], curri)[0].slice(0, 31) == "หมวด วิชาศึกษาทั่วไป วิชาบังคับ"){
                    html += `<div class="sjname">${data[i]["subject_id"]}</div>`;   
                    container1.innerHTML += html;
                    credit1 += data[i]["credit"];
                }
                else if(testt(data[i]["subject_id"], curri)[0] == "หมวด วิชาเฉพาะ วิชาแกน รายวิชา "){
                    html += `<div class="sjname">${data[i]["subject_id"]}</div>`;   
                    container4.innerHTML += html;
                    if(data[i]["subject_id"].slice(0,3) == '204'){
                        majorgpatop += data[i]["grade"] * data[i]["credit"];
                        majorgpadown += data[i]["credit"];
                        
                    }
                    
                    credit4 += data[i]["credit"];
                }
                else if(testt(data[i]["subject_id"], curri)[0] == "หมวด วิชาเฉพาะ วิชาเอก วิชาเอกบังคับร่วม รายวิชา "){
                    html += `<div class="sjname">${data[i]["subject_id"]}</div>`;   
                    container2.innerHTML += html;
                    credit2 += data[i]["credit"];
                    majorgpatop += data[i]["grade"] * data[i]["credit"];
                    majorgpadown += data[i]["credit"];
                }
                else if(testt(data[i]["subject_id"], curri)[0].slice(0, 32) == "หมวด วิชาศึกษาทั่วไป GE_Elective"){
                    html += `<div class="sjname">${data[i]["subject_id"]}</div>`;   
                    container7.innerHTML += html;
                    credit7 += data[i]["credit"];
                }
                else if(testt(data[i]["subject_id"], curri)[0].slice(0, 44) == "หมวด วิชาเฉพาะ วิชาเอก วิชาเอกบังคับประจำแผน"){
                    html += `<div class="sjname">${data[i]["subject_id"]}</div>`;   
                    container3.innerHTML += html;
                    credit3 += data[i]["credit"];
                    majorgpatop += data[i]["grade"] * data[i]["credit"];
                    majorgpadown += data[i]["credit"];
                }
                else if(testt(data[i]["subject_id"], curri)[0].slice(0, 35) == "หมวด วิชาเฉพาะ วิชาเอก วิชาเอกเลือก"){ 
                    majorgpatop += data[i]["grade"] * data[i]["credit"];
                    majorgpadown += data[i]["credit"];
                    if(data[i]["subject_id"][3] == '7'){
                        html += `<div class="sjname">${data[i]["subject_id"]}</div>`;   
                        container5.innerHTML += html; 
                        credit700 += data[i]["credit"];
                        credit5 += data[i]["credit"];
                        
                    }else{
                        
                        if(data[i]["subject_id"][3] == '4'){
                            
                            
                            if(cre_400 - credit400 > 0 || cre_5 - credit5 > 0 ){
                                html += `<div class="sjname">${data[i]["subject_id"]}</div>`;   
                                container5.innerHTML += html; 
                                credit400 += data[i]["credit"];
                                credit5 += data[i]["credit"];
                            }
                            else{
                                html += `<div class="sjname">${data[i]["subject_id"]}</div>`;   
                                container6.innerHTML += html; 
                                credit6 += data[i]["credit"];
                            }
                        }else{
                            if(cre_5 - credit5 > 0){
                                html += `<div class="sjname">${data[i]["subject_id"]}</div>`;
                                container5.innerHTML += html; 
                                credit5 += data[i]["credit"]; 
                            }else{
                                html += `<div class="sjname">${data[i]["subject_id"]}</div>`;   
                                container6.innerHTML += html; 
                                credit6 += data[i]["credit"];
                            }
                        }
                        
                    }
                }
                else{
                    html += `<div class="sjname">${data[i]["subject_id"]}</div>`;   
                    container8.innerHTML += html;
                    // console.log(data[i]["subject_id"]);
                    credit8 += data[i]["credit"];
                }
            }
            
            cn1.innerHTML = `${credit1}/`;
            cn2.innerHTML = `${credit2}/`;
            cn3.innerHTML = `${credit3}/`;
            cn4.innerHTML = `${credit4}/`;
            cn5.innerHTML = `${credit5}/`;
            cn6.innerHTML = `${credit6}/`;
            cn7.innerHTML = `${credit7}/`;
            cn8.innerHTML = `${credit8}/`;
            cn400.innerHTML = `${credit400}/`;
            cn700.innerHTML = `${credit700}/`;
            // console.log("******");
            var req1 = parseInt(document.getElementById("bfreq").textContent);
            var req2 = parseInt(document.getElementById("req").textContent);
            var reqco1 = parseInt(document.getElementById("bfreqco").textContent);
            var reqco2 = parseInt(document.getElementById("reqco").textContent);
            var specco1 = parseInt(document.getElementById("bfspecco").textContent); 
            var specco2 = parseInt(document.getElementById("specco").textContent); 
            var core1 = parseInt(document.getElementById("bfcore").textContent);
            var core2 = parseInt(document.getElementById("core").textContent);
            var majorco1 = parseInt(document.getElementById("bfmajorco").textContent);
            var majorco2 = parseInt(document.getElementById("majorco").textContent);
            var minor1 = parseInt(document.getElementById("bfminor").textContent);
            var minor2 = parseInt(document.getElementById("minor").textContent);
            var ge1 = parseInt(document.getElementById("bfge").textContent);
            var ge2 = parseInt(document.getElementById("ge").textContent);
            var free1 = parseInt(document.getElementById("bffree").textContent);
            var free2 = parseInt(document.getElementById("free").textContent);
            var a4001 = parseInt(document.getElementById("bf400").textContent);
            var a4002 = parseInt(document.getElementById("400").textContent);
            var a7001 = parseInt(document.getElementById("bf700").textContent);
            var a7002 = parseInt(document.getElementById("700").textContent);

            if(req2 - req1 > 0){
                var tt = document.getElementById("1").style.backgroundColor = "red";
            }
            if(reqco2 - reqco1 > 0){
                var tt = document.getElementById("2").style.backgroundColor = "red";
            }
            if(specco2 - specco1 > 0){
                var tt = document.getElementById("3").style.backgroundColor = "red";
            }
            if(core2 - core1 > 0){
                var tt = document.getElementById("4").style.backgroundColor = "red";
            }
            if(majorco2 - majorco1 > 0){
                var tt = document.getElementById("5").style.backgroundColor = "red";
            }
            if(minor2 - minor1 > 0){
                var tt = document.getElementById("6").style.backgroundColor = "red";
            }
            if(ge2 - ge1 > 0){
                var tt = document.getElementById("7").style.backgroundColor = "red";
            }
            if(free2 - free1 > 0){
                var tt = document.getElementById("8").style.backgroundColor = "red";
            }
            if(a4002 - a4001 > 0){
                var tt = document.getElementById("5.1").style.backgroundColor = "red";
            }
            if(a7002 - a7001 > 0){
                var tt = document.getElementById("5.2").style.backgroundColor = "red";
            }
            
            
            var ttgpa = (gpatop/gpadown).toFixed(3);
            var ttg = Math.round(ttgpa * 100) / 100;
            ttg = ttg.toFixed(2);
            var setgpa = document.getElementById("totalgpa").innerHTML = ttg;
            var mmgpa = (majorgpatop/majorgpadown).toFixed(3);
            var mmg = Math.round(mmgpa * 100) / 100;
            mmg = mmg.toFixed(2);
            var setmajorgpa = document.getElementById("majorgpa").innerHTML = mmg;

            
            var top = document.getElementById("toplan").innerHTML ;
            var down = document.getElementById("maplan").innerHTML; 
            
            if(ttg < top){
                var tt = document.getElementById("gpatotal").style.color = "red";
            }
            if(mmg < down){
                var tt = document.getElementById("gpamajortotal").style.color = "red";
            }
        }
        
        function showcredit(data){
            //console.log(data[0]["วิชาบังคับ"])
            var ch_plan = "";
            if("{{session['type']}}" == '2'){
                ch_plan = "{{session['plan']}}";
            }else{
                ch_plan = "{{session['user']['study_plan']}}";
            }
            
            var container = document.getElementById("req").innerHTML = data[0]["วิชาบังคับ"];
            var container = document.getElementById("reqco").innerHTML = data[0]["เอกบังคับร่วม"];
            var container = document.getElementById("specco").innerHTML = data[0]["เอกประจำแผน"];
            var container = document.getElementById("core").innerHTML = data[0]["วิชาแกน"];
            var container = document.getElementById("majorco").innerHTML = data[0]["เอกเลือก"];
            chcredit = data[0]["เอกเลือก"];
            if(ch_plan == "แผนปกติ"){
                var container = document.getElementById("400").innerHTML = data[0]["400"]; 
                var container = document.getElementById("700").innerHTML = 0; 
            }else if(ch_plan == "แผนสหกิจศึกษา"){
                var container = document.getElementById("400").innerHTML = data[0]["400"]; 
                var container = document.getElementById("700").innerHTML = 0;
            }
            else if(ch_plan == "แผนก้าวหน้า"){
                var container = document.getElementById("400").innerHTML = data[0]["400"]; 
                var container = document.getElementById("700").innerHTML = data[0]["700"]; 
            } 
            var container = document.getElementById("minor").innerHTML = data[0]["โท"];
            var container = document.getElementById("ge").innerHTML = data[0]["GE"];
            var container = document.getElementById("free").innerHTML = data[0]["เสรี"];
        }
        $(document).ready(function () {
            console.log("{{session['stu']}}"); 
            $.getJSON("/all_credit", function (data) { 
                showcredit(data);
                
                $.getJSON("/curri", function (ttt) { 
                    curri = ttt;
                    var plan = "";
                    if("{{session['type']}}" == '2'){
                        plan = "{{session['plan']}}";
                    }else{
                        plan = "{{session['user']['study_plan']}}";
                    }
                    console.log("AAAAAAAAAAA");
                        
                    console.log(curri[0]["เกณฑ์การสำเร็จการศึกษา"][plan]["เกรดเฉลี่ยตลอดหลักสูตร"]); 

                    var tran = document.getElementById("toplan").innerHTML = `${curri[0]["เกณฑ์การสำเร็จการศึกษา"][plan]["เกรดเฉลี่ยตลอดหลักสูตร"].toFixed(2)}`;
                    var tran = document.getElementById("maplan").innerHTML = `${curri[0]["เกณฑ์การสำเร็จการศึกษา"][plan]['เกรดเฉลี่ยวิชาเอก'].toFixed(2)}`; 
                    $.getJSON("/data5", function (data) { 
                        showdata(data, curri[0]);
                    });
                });  
            });
             
        });
        function ShowPopupMenu() {
            let popupMenu = document.getElementById('popupMenu');

            if (popupMenu.style.display === 'none') {
                popupMenu.style.display = 'block';
            } else {
                popupMenu.style.display = 'none';
            }
        }
        function testt(h, curri){
            const data = curri; 

            id_find_position_course = '';
            id_find_position_course_grade = '';

            deep_test = data['หมวด']['วิชาศึกษาทั่วไป']['GE_Elective']['กลุ่มวิชาด้านการพัฒนาทักษะการเป็นผู้ร่วมสร้างสรรค์นวัตกรรม'];
            deep_test_seri = data['หมวด'];

            // recursive หา รหัส
            // console.log('CHECK!!!!!!!!')
            function find_code(data, code, line_root){
                // ถ้ามี ['รหัสวิชา'] อยู่ใน obj ให้เช็ค
                // console.log('data_001 ==> ', data)
                

                if (typeof(data[0]) == 'object'){
                // console.log('0000000000000000000000')
                if (data[0]['รหัสวิชา']){
                    // console.log('111111111111111111')
                    // console.log('2222222222222222222', data, code)
                    if (find_if_in(data, code, line_root)){
                    // console.log('ininininininininiininininininininiinininininininini', line_root)
                    id_find_position_course_grade = data[0]['หน่วยกิต'];
                    
                    
                    return 
                    }
                }

                }

                
                for (const obj in data){
                // เจอ obj ให้หาลึกๆไปต่อ
                // console.log('CHECK!!!!!!!!', head[obj])
                if (typeof(data[obj]) == 'object'){
                    // console.log('----loop')
                    // console.log('CHECK!!!!!!!11111!', head[obj])
                    find_code(data[obj], code, line_root + [obj] + ' ');
                }
                }


                
            }

            function find_if_in(course, code, line_root){
                // console.log(course)
                const coursesInGroup = course.map(c => c["รหัสวิชา"]);
                
                if (coursesInGroup.includes(code)) {
                
                id_find_position_course = line_root;
                
                //console.log('หารหัสเจอละหารหัสเจอละหารหัสเจอละหารหัสเจอละหารหัสเจอละหารหัสเจอละหารหัสเจอละหารหัสเจอละ', line_root);
                return true;
                
                }else{
                //console.log('หาไม่เจอ');
                
                }
            }


           

            find_code(data, h, '');
            
            return [id_find_position_course, id_find_position_course_grade];
        }
    </script>
</body>

</html>