<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/css/subject_cd.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <title>Subject Credits</title>
</head>

<body>
    <nav>
        <a class="active">Computer Science CMU</a>
        <ul class="menu">
            <li class="list">
                <a href="javascript:void(0);" onclick="ShowPopupMenu();"><i class="bi bi-list"></i></a>
                <ul class="popup-menu" id="popupMenu">
                    <li><a href="/overview">ภาพรวม/Overview</a></li>
                    <li><a href="/subject_credit">ภาพรวมหลักสูตร/Subjects</a></li>
                    <li><button class="Logout" type="button">Log out</button></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div class="topic">ภาพรวมหลักสูตร</div>
    <div class="required">วิชาบังคับ<br />(Required Courses)
        <div class="rec1">
            <div class="sjname">001101</div>
        </div>
        <div class="cr">Credits:
            <div class="crbox"></div>
        </div>
    </div>
    <div class="compulsory">วิชาเอกบังคับร่วม<br />(Compulsory Courses)
        <div class="rec2"></div>
        <div class="cr">Credits:
            <div class="crbox"></div>
        </div>
    </div>
    <div class="plan-spe">วิชาเอกบังคับประจำแผน<br />(Plan-specific)
        <div class="rec3"></div>
        <div class="cr">Credits:
            <div class="crbox"></div>
        </div>
    </div>
    <div class="core-courses">วิชาแกน<br />(Core Courses)
        <div class="rec4"></div>
        <div class="cr">Credits:
            <div class="crbox"></div>
        </div>
    </div>
    <div class="major">วิชาเอกเลือก<br />(Major Elective Courses)
        <div class="rec5"></div>
        <div class="cr">Credits:
            <div class="crbox"></div>
        </div>
    </div>
    <div class="minor">วิชาโท<br />(Minor Courses)
        <div class="rec6"></div>
        <div class="cr">Credits:
            <div class="crbox"></div>
        </div>
    </div>
    <div class="ge">วิชาเลือกทั่วไป<br />(GE Elective)
        <div class="rec7"></div>
        <div class="cr">Credits:
            <div class="crbox"></div>
        </div>
    </div>
    <div class="free">วิชาเลือกเสรี<br />(Free Elective)
        <div class="rec8"></div>
        <div class="cr">Credits:
            <div class="crbox"></div>
        </div>
    </div>

    <script>
        function ShowPopupMenu() {
            let popupMenu = document.getElementById('popupMenu');

            if (popupMenu.style.display === 'none') {
                popupMenu.style.display = 'block';
            } else {
                popupMenu.style.display = 'none';
            }
        }
    </script>
</body>

</html>