<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="static/css/sj_list.css" />
  <title>Subject Add Home</title>
</head>

<body>
  <div class="topnav">
    <a class="active">Computer Science CMU</a>
  </div>
  <div class="topic">กลุ่มวิชาเอกเลือก</div>
  <div class="area1">
    <button class="add" type="button">เพิ่ม</button>
    <div class="recg">
        <div class="topic1">1. ระดับ 300
            <button class="edit" type="button">Edit</button>
            <div class="recg1">
                <div class="g1">204311<br />เฟรมเวิร์คการพัฒนาโมบายแอปพลิเคชัน<br />(Mobile Application Development Frameworks)</div>
            </div>
        </div>
    </div>
  </div>
</body>

</html>