<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="static/css/t_homepage.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
  <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
  <title>Teacher Home</title>
</head>

<body>
  <nav>
    <a class="active">Computer Science CMU</a>
    <ul class="menu">
      <li class="list">
        <a href="javascript:void(0);" onclick="ShowPopupMenu();"><i class="bi bi-list"></i></a>
        <ul class="popup-menu" id="popupMenu">
          <li><a href="/overview">ภาพรวม/Overview</a></li>
          <li><a href="/subject_credit">ภาพรวมหลักสูตร/Subjects</a></li>
          <li><button class="Logout" type="button"><a href="/user/signout_student" class="btn btn-secondary">Sign Out</a></button></li>
        </ul>
      </li>
    </ul>
  </nav>
  <div class="info">
    ชื่อ - นามสกุล / Name - Surname:<br> {{session['user']['first_name']}} {{session['user']['last_name']}}
  </div>
  <button class="add" id="myBtn" type="button">+ เพิ่มนักศึกษา</button>
  <div class="box">
    <div class="topic"> รายชื่อนักศึกษาที่ตนเองรับผิดชอบ </div>
    <div id="loop_stu" class="name">
      
    </div>
  </div>

  <!-- The Modal -->
  <div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
      <div class="ids">รหัสนักศึกษา</div>
      <form method="post">
        <input name="first" type="text" class="id">
        &nbsp;
        <div class="idst">ถึง</div> 
        <input name="last" type="text" class="id">
        <input class="Add" id="myBtn" type="submit" value="Add">
      </form>
    </div>
  </div>

  <script>
    function del_stu(data){
      var users = data.toString();
      var formData = {};
      formData['_id'] = users;
      var url = "/del_stu";
      $.post(url, formData, function(){
        window.location.href = "/teacher_home";
      });
    }
    function showallstudent(data, data2){
      
      data2[0]['advisee'].sort();
      console.log(data2[0]["advisee"].length);
      console.log(data.length);
      var container = document.getElementById("loop_stu");
      var j = 0;
      for( var i = 0; i < data2[0]["advisee"].length; i++){
        console.log(i);
        var html = ''; 
        if(data.length <= j){
          var id = data2[0]["advisee"][i];
          html += `
            <div class="names">
            <span class="student-info">${id}</span>
            
            <span class="p"></span>
            
            <button onclick="del_stu(${id})" class="Binfo" type="button">ลบ</button>
            </div>
          `; 
        }else{
          if(data2[0]["advisee"][i] == data[j]['student_ad']["_id"]){
            var id = data[j]["student_ad"]["_id"];
            var first_name = data[j]["student_ad"]["first_name"];
            var last_name = data[j]["student_ad"]["last_name"];
            var study_plan = data[j]["student_ad"]["study_plan"];
            html += `
              <div class="names">
              <span class="student-info">${id} ${first_name} ${last_name}</span>
              <span class="plans">แผนการศึกษาที่เลือก:</span>
              <span class="p">${study_plan}</span>
              <button class="Binfo" type="button">ดูข้อมูล</button>
              <button onclick="del_stu(${id})" class="Binfo" type="button">ลบ</button>
              </div>
              
            `; 
            j++;
          }else{
            var id = data2[0]["advisee"][i];
            html += `
              <div class="names">
              <span class="student-info">${id}</span>
              
              <span class="p"></span>
              <button class="Binfo" type="button">ดูข้อมูล</button>
              <button onclick="del_stu(${id})" class="Binfo" type="button">ลบ</button>
              </div>
            `; 
          }
        }
        
        container.innerHTML += html;
        
      }
    } 
    
      
      
    // }
    // function showallstudent(data, data2) {
    //   console.log(data2[0]["advisee"][0]);
    //   console.log(data[1]['student_ad']);
    //   var container = document.getElementById("loop_stu");
      
    //   for (var i = 0; i < data2[0]["advisee"].length; i++) { // Corrected the loop increment variable
    //     var html = '';
    //     for (var j = 0; j < data.length; j++) {
    //       if (data[j]["student_ad"] && data2[0]["advisee"][i] == data[j]["student_ad"]["_id"]) { // Check if data[j]["student_ad"] exists
    //         var id = data[j]["student_ad"]["_id"];
    //         var first_name = data[j]["student_ad"]["first_name"];
    //         var last_name = data[j]["student_ad"]["last_name"];
    //         var study_plan = data[j]["student_ad"]["study_plan"];
    //         html += `
    //           <div class="names">
    //             <span class="student-info">${id} ${first_name} ${last_name}</span>
    //             <span class="plans">แผนการศึกษาที่เลือก:</span>
    //             <span class="p">${study_plan}</span>
    //             <button class="Binfo" type="button">ดูข้อมูล</button>
    //           </div>
    //         `;
    //         break; // Exit the loop once a match is found
    //       } else {
    //         var id = data2[0]["advisee"][i];
    //         html += `
    //           <div class="names">
    //             <span class="student-info">${id}</span>
    //             <span class="p"></span>
    //             <button class="Binfo" type="button">ดูข้อมูล</button>
    //           </div>
    //         `;
    //       }
    //     }
    //     container.innerHTML += html;
    //   }
    // }

    $(document).ready(function () {
            $.getJSON("/stu_list_all", function (list_all) {
              $.getJSON("/stu_list", function (list) {
                // Call the displayData function to update the HTML with the received data
                showallstudent(list, list_all);
              });
            });
            
            
        });
    // Rest of your JavaScript code

    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal
    btn.onclick = function () {
      modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
      modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }

    function ShowPopupMenu() {
      let popupMenu = document.getElementById('popupMenu');

      if (popupMenu.style.display === 'none') {
          popupMenu.style.display = 'block';
      } else {
          popupMenu.style.display = 'none';
      }
  }
  </script>
</body>

</html>
