<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="static/css/who.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500&display=swap" rel="stylesheet">
  <title>Who is using?</title>
</head>

<body>
 
  <div class="topnav">
    <a class="active">Computer Science CMU</a>
  </div>

  <div class="who">
    <div class="topic">Who is using?</div>
    <div class =selectbtn>
      <button class="BloginS" type="button" onclick="handleStudent()">นักศึกษา<br />Student</button>
      <button class="BloginT" type="button" onclick="handleTeacher()">อาจารย์<br />Teacher</button>
    </div>
  </div>

  <script>
    function handleStudent() {
      // นักศึกษารับค่า 1
      var value = 1;
      // Redirect to /student_reg and pass the value as a query parameter
      window.location.href = '/student_reg?value=' + value;
    }

    function handleTeacher() {
      // อาจารย์รับค่า 2
      var value = 2;
      // Redirect to /teacher_reg and pass the value as a query parameter
      window.location.href = '/teacher_reg?value=' + value;
    }
  </script>

</body>

</html>
