body {
  background-color: #334568;
  font-family: 'Bai Jamjuree', sans-serif;
}

.topnav {
  background-color: #fecf2a;
  margin: 0.4%;
  height: 3.188rem;
}

.topnav a {
  font-weight: 700;
  color: #334568;
  font-size: 1.25rem;
  float: left;
  padding: 0.875rem 1rem;
}

.SC-CMU-logo {
  display: block;
  margin: 0 auto;
  width: 13.063rem;
  height: 13.125rem;
  margin-top: 2rem;
}

.home .topic {
  font-weight: 700;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  padding-top: 0.5%;
}

.home .graduation {
  font-weight: 500;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  padding-top: 0.2%;
}

.selectbtn {
  display: flex;
  justify-content: center;
}

.BloginS, .BloginT {
  background-color: #fee386;
  border-radius: 10px;
  padding: 15px 25px;
  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  text-align: center;
  margin: 3% 1%;
  transition-duration: 0.3s;
  cursor: pointer;
}

.BloginS:hover, .BloginT:hover, .BloginT2:hover {
  background-color: #ffc506;
  color: #000000;
}

.BloginT2 {
  background-color: #86bafe;
  border-radius: 10px;
  padding: 15px 25px;
  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  text-align: center;
  margin: 3% 1%;
  transition-duration: 0.3s;
  cursor: pointer;
}

.who {
  color: #ffffff;
  margin-left: 45%;
}
