body {
  background-color: #334568;
}

.topnav {
  background-color: #fecf2a;
  overflow: hidden;
}

.topnav a {
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #334568;
  font-size: 20px;
  float: left;
  padding: 14px 16px;
}

.home .SC-CMU-logo {
  width: 209px;
  height: 210px;
  margin-left: 43%;
  margin-right: 0%;
  margin-top: 1%;
}

.home .topic {
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  padding-top: 0.5%;
}

.home .graduation {
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  padding-top: 0.2%;
}

.home .BloginS {
  background-color: #fee386;
  border-radius: 10px;
  padding: 15px 25px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  text-align: center;
  margin-top: 3%;
  margin-left: 34%;
  margin-right: 5%;
  transition-duration: 0.3s;
  cursor: pointer;
}

.home .BloginS:hover {
  background-color: #ffc506;
  color: #000000;
}

.home .BloginT {
  background-color: #fee386;
  border-radius: 10px;
  padding: 15px 25px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  text-align: center;
  margin-top: 3%;
  margin-left: 3%;
  transition-duration: 0.3s;
  cursor: pointer;
}

.home .BloginT:hover {
  background-color: #ffc506;
  color: #000000;
}