body {
  background-color: #334568;
  margin: 0 auto;
}

.active {
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #334568;
  font-size: 20px;
  float: left;
  padding: 14px 16px;
}

.topnav {
  background-color: #fecf2a;
  margin: 0.4%;
  height: 3.188rem;
}

.topnav a {
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #334568;
  font-size: 1.25rem;
  float: left;
  padding: 0.875rem 1rem;
}

.log {
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 50px;
  text-align: center;
  margin-top: 8%;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 20px;
  background: #ffffff;
  width: 384px;
  height: 350px;
  flex-shrink: 0;
}

.email {
  margin-top: 4%;
  margin-left: 5%;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #000;
  font-size: 24px;
  flex-shrink: 0;
}

.enter_e {
  width: 300px;
  margin-top: 3%;
  margin-left: 10%;
  background-color: #e1e1e1;
  border-radius: 10px;
  position: absolute;
  height: 32px;
  font-size: 20px;
}

.password {
  margin-top: 25%;
  margin-left: 5%;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #000;
  font-size: 24px;
  flex-shrink: 0;
}

.enter_p {
  width: 300px;
  margin-top: 3%;
  background-color: #e1e1e1;
  border-radius: 10px;
  position: absolute;
  height: 32px;
  font-size: 20px;
  margin-left: 10%;
}

.Login {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4E6DA8;
  border-radius: 10px;
  padding: 10px 20px; /* Increased padding to make the button larger */
  font-weight: 500;
  color: #ffffff;
  font-size: 20px; /* Increased font size to make the button larger */
  transition-duration: 0.3s;
  cursor: pointer;
}
.Login:hover {
  background-color: #9ab8f1;
  color: #000000;
}

.noacc {
  margin-top: 20%;
  text-align: center;
}
.who--hidden {
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #c71919;
  text-decoration: none; /* Remove underline */
}

.who--hidden:hover {
  color: #4E6DA8; /* Change color on hover */
}

.bi.bi-arrow-right {
  font-size: 1.2em; /* Adjust the arrow icon size */
  vertical-align: middle; /* Align the arrow vertically with the text */
}