body {
    background-color: #334568;
}

nav {
    background-color: #fecf2a;
    height: 51px;
    display: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    justify-content: space-between;
    align-items: center;
}

.menu {
    list-style: none;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 200px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 20px;
    background: #4E6DA8;
    width: 360px;
    height: 385px;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

.ids {
    color: #FFF;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 8%;
}
.ids2{
    color: #FFF;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 8%;
}
.t{
    margin-top: 1px;
}
.id {
    width: 255px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border-radius: 10px;
    height: 49px;
    font-size: 24px;
    text-align: center;
}
.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.input-a {
    width: 250px;
    position: relative; /* Change position to relative */
    margin-bottom: 10px; /* Add margin to create space between input elements */
    background-color: #ffffff;
    border-radius: 10px;
    height: 40px;
    font-size: 24px;
    text-align: center;
    box-sizing: border-box;
}

.Del {
    background-color: #37b47e;
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: 500;
    color: #ffffff;
    font-size: 24px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition-duration: 0.3s;
    cursor: pointer;
}


.Del:hover {
    background-color: #87deb9;
    color: #000000;
}
.Add{
    background-color: #37b47e;
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: 500;
    color: #ffffff;
    font-size: 24px;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition-duration: 0.3s;
    cursor: pointer;
    margin-top: 10px;
}
.Add:hover {
    background-color: #87deb9;
    color: #000000;
}
.menu i {
    font-weight: 700;
    color: #334568;
    font-size: 3rem;
    margin-right: 1rem;
}

.list {
    position: relative;
}

.popup-menu {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #D2E1FF;
    width: 250px;
    border-radius: 10px;
    padding: 1rem;
    position: absolute;
    right: 0;
    list-style: none;
    display: none;
    position: absolute;
    z-index: 1;
}

.popup-menu li {
    padding: .5rem 0;
}

.popup-menu li a {
    text-decoration: none;
    color: #334568;
    font-family: "Inter", Helvetica;
}

.Logout {
    padding: .5rem 0;
    background-color: #FF2E2E;
    border-radius: 10px;
    padding: 5px 10px;
    color: #ffffff;
    font-size: 16px;
    position: right;
    right: 0;
    float: right;
    transition-duration: 0.3s;
    cursor: pointer;
}

.Logout:hover {
    background-color: #f94e4e;
    color: #000000;
}

.active {
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #334568;
    font-size: 20px;
    float: left;
    padding: 14px 16px;
}

.info {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 0.5%;
    margin-left: 3%;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.8;
}

.temp {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: 71.5%;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #00fd37;
    font-size: 20px;
    line-height: 4.5;
    margin-top: 7%;
}

.plans {
    position: absolute;
    padding-top: 2%;
    left: 72%;
    font-size: 25px;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #ffffff;
    line-height: normal;
}

.Bplan {
    background-color: #fee386;
    border-radius: 10px;
    padding: 10px 20px;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 20px;
    position: absolute;
    left: 88%;
    top: 10%;
    transition-duration: 0.3s;
    cursor: pointer;
}

.Bplan:hover {
    background-color: #ffc506;
    color: #000000;
}

.gpa {
    position: absolute;
    width: 301px;
    padding-top: 4.7%;
    left: 72%;
    font-size: 25px;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #ffffff;
    line-height: normal;
}

.impex {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: 71.5%;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 20px;
    line-height: 1.8;
    margin-top: 7%;
}

.study {
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 60px;
    text-align: center;
    margin-top: 4%;
}

.study .y1 {
    left: 17%;
    top: 27%;
    position: absolute;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 20px;
    text-align: left;
    
}

.study .y2 {
    left: 57%;
    top: 27%;
    position: absolute;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 20px;
    
    text-align: left;
}

.study .y3 {
    left: 17%;
    top: 63%;
    position: absolute;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 20px;
    
    text-align: left;
}

.study .y4 {
    left: 57%;
    top: 63%;
    position: absolute;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 20px;
    
    text-align: left;
}

.study .y5 {
    left: 17%;
    top: 99%;
    position: absolute;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 20px;
    
    text-align: left;
}

.study .y6 {
    left: 57%;
    top: 99%;
    position: absolute;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 20px;
    
    text-align: left;
}
.study .y7 {
    left: 17%;
    top: 135%;
    position: absolute;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 20px;
    
    text-align: left;
}

.study .y8 {
    left: 57%;
    top: 135%;
    position: absolute;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 20px;
    
    text-align: left;
}
.study .y1 .board {
    
    width: 387px;
    height: 229px;
    left: 17%;
    top: 31%;
    background-color: #ffffff;
    border-radius: 20px;
}

.study .y2 .board {
    
    width: 387px;
    height: 229px;
    left: 57%;
    top: 31%;
    background-color: #ffffff;
    border-radius: 20px;
}

.study .y3 .board {
    
    width: 387px;
    height: 229px;
    left: 17%;
    top: 67%;
    background-color: #ffffff;
    border-radius: 20px;
}

.study .y4 .board {
    
    width: 387px;
    height: 229px;
    left: 57%;
    top: 67%;
    background-color: #ffffff;
    border-radius: 20px;
}

.study .y5 .board {
    
    width: 387px;
    height: 229px;
    left: 57%;
    top: 67%;
    background-color: #ffffff;
    border-radius: 20px;
}
.study .y6 .board {
    
    width: 387px;
    height: 229px;
    left: 57%;
    top: 67%;
    background-color: #ffffff;
    border-radius: 20px;
}
.study .y7 .board {
    
    width: 387px;
    height: 229px;
    left: 57%;
    top: 67%;
    background-color: #ffffff;
    border-radius: 20px;
}
.study .y8 .board {
    
    width: 387px;
    height: 229px;
    left: 57%;
    top: 67%;
    background-color: #ffffff;
    border-radius: 20px;
}

.study .y1 .edit {
    font-family: "Inter", Helvetica;
    font-weight: 700;
    width: 50px;
    height: 30px;
    background-color: #fc6f59;
    border-radius: 10px;
    transition-duration: 0.3s;
    cursor: pointer;
}

.study .y1 .edit:hover {
    background-color: #f89393;
    color: #000000;
}

.study .y2 .edit {
    font-family: "Inter", Helvetica;
    font-weight: 700;
    width: 50px;
    height: 30px;
    background-color: #fc6f59;
    border-radius: 10px;
    transition-duration: 0.3s;
    cursor: pointer;
}

.study .y2 .edit:hover {
    background-color: #f89393;
    color: #000000;
}

.study .y3 .edit {
    font-family: "Inter", Helvetica;
    font-weight: 700;
    width: 50px;
    height: 30px;
    background-color: #fc6f59;
    border-radius: 10px;
    transition-duration: 0.3s;
    cursor: pointer;
}

.study .y3 .edit:hover {
    background-color: #f89393;
    color: #000000;
}

.study .y4 .edit {
    font-family: "Inter", Helvetica;
    font-weight: 700;
    width: 50px;
    height: 30px;
    background-color: #fc6f59;
    border-radius: 10px;
    transition-duration: 0.3s;
    cursor: pointer;
}

.study .y4 .edit:hover {
    background-color: #f89393;
    color: #000000;
}

.board {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal-width columns */
    gap: 10px; /* Adjust the gap between columns */
    border: 1px solid #000; /* Optional: Add a border for visualization */
    border-radius: 20px;
    padding: 10px;
    background-color: #ffffff;
}

.sid {
    /* Adjust styles as needed for the content within .sid */
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 18px;
    box-sizing: border-box;
    padding-left: 12%;

}
.sid .left-content,
.sid .middle-content,
.sid .right-content {
    padding: 2px;
}

.g {
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #000000;
}

.vl {
    border-left: 6px solid rgb(0, 30, 128);
    height: 214px;
    margin-left: 50%;
}