body {
    background-color: #334568;
}

nav {
    background-color: #fecf2a;
    height: 51px;
    display: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    justify-content: space-between;
    align-items: center;
}

.menu {
    list-style: none;
}

.menu i {
    font-weight: 700;
    color: #334568;
    font-size: 3rem;
    margin-right: 1rem;
}

.list {
    position: relative;
}

.popup-menu {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #D2E1FF;
    width: 250px;
    border-radius: 10px;
    padding: 1rem;
    position: absolute;
    right: 0;
    list-style: none;
    display: none;
    position: absolute;
    z-index: 1;
}

.popup-menu li {
    padding: .5rem 0;
}

.popup-menu li a {
    text-decoration: none;
    color: #334568;
    font-family: "Inter", Helvetica;
}

.Logout {
    padding: .5rem 0;
    background-color: #FF2E2E;
    border-radius: 10px;
    padding: 5px 10px;
    color: #ffffff;
    font-size: 16px;
    position: right;
    right: 0;
    float: right;
    transition-duration: 0.3s;
    cursor: pointer;
}

.Logout:hover {
    background-color: #f94e4e;
    color: #000000;
}

.active {
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #334568;
    font-size: 20px;
    float: left;
    padding: 14px 16px;
}

.info {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 0.5%;
    margin-left: 3%;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.8;
}

.temp {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: 3%;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 20px;
    line-height: 1.8;
    margin-top: 7%;
}

.plans {
    position: absolute;
    padding-top: 2%;
    left: 72%;
    font-size: 25px;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #ffffff;
    line-height: normal;
}

.Bplan {
    background-color: #fee386;
    border-radius: 10px;
    padding: 10px 20px;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 20px;
    position: absolute;
    left: 88%;
    top: 10%;
    transition-duration: 0.3s;
    cursor: pointer;
}

.Bplan:hover {
    background-color: #ffc506;
    color: #000000;
}

.gpa {
    position: absolute;
    width: 301px;
    padding-top: 4.7%;
    left: 72%;
    font-size: 25px;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #ffffff;
    line-height: normal;
}

.impex {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: 71.5%;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 20px;
    line-height: 1.8;
    margin-top: 7%;
}

.study {
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 60px;
    text-align: center;
    margin-top: 4%;
}

.study .y1 {
    left: 17%;
    top: 27%;
    position: absolute;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
}

.study .y2 {
    left: 57%;
    top: 27%;
    position: absolute;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
}

.study .y3 {
    left: 17%;
    top: 63%;
    position: absolute;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
}

.study .y4 {
    left: 57%;
    top: 63%;
    position: absolute;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
}

.study .y1 .board {
    position: fixed;
    width: 387px;
    height: 229px;
    left: 17%;
    top: 31%;
    background-color: #ffffff;
    border-radius: 20px;
}

.study .y2 .board {
    position: fixed;
    width: 387px;
    height: 229px;
    left: 57%;
    top: 31%;
    background-color: #ffffff;
    border-radius: 20px;
}

.study .y3 .board {
    position: fixed;
    width: 387px;
    height: 229px;
    left: 17%;
    top: 67%;
    background-color: #ffffff;
    border-radius: 20px;
}

.study .y4 .board {
    position: fixed;
    width: 387px;
    height: 229px;
    left: 57%;
    top: 67%;
    background-color: #ffffff;
    border-radius: 20px;
}

.study .y1 .edit {
    font-family: "Inter", Helvetica;
    font-weight: 700;
    width: 50px;
    height: 30px;
    background-color: #fc6f59;
    border-radius: 10px;
    transition-duration: 0.3s;
    cursor: pointer;
}

.study .y1 .edit:hover {
    background-color: #f89393;
    color: #000000;
}

.study .y2 .edit {
    font-family: "Inter", Helvetica;
    font-weight: 700;
    width: 50px;
    height: 30px;
    background-color: #fc6f59;
    border-radius: 10px;
    transition-duration: 0.3s;
    cursor: pointer;
}

.study .y2 .edit:hover {
    background-color: #f89393;
    color: #000000;
}

.study .y3 .edit {
    font-family: "Inter", Helvetica;
    font-weight: 700;
    width: 50px;
    height: 30px;
    background-color: #fc6f59;
    border-radius: 10px;
    transition-duration: 0.3s;
    cursor: pointer;
}

.study .y3 .edit:hover {
    background-color: #f89393;
    color: #000000;
}

.study .y4 .edit {
    font-family: "Inter", Helvetica;
    font-weight: 700;
    width: 50px;
    height: 30px;
    background-color: #fc6f59;
    border-radius: 10px;
    transition-duration: 0.3s;
    cursor: pointer;
}

.study .y4 .edit:hover {
    background-color: #f89393;
    color: #000000;
}

.sid {
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 18px;
    margin-top: 5%;
    text-align: left;
    margin-left: -90%;
}

.g {
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #000000;
}

.vl {
    border-left: 6px solid rgb(0, 30, 128);
    height: 214px;
    margin-left: 50%;
  }