/* CSS styles for the registration page */

body {
  font-family: Arial, sans-serif;
}

.register-container {
  width: 500px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

input, select {
  width: 100%;
  padding: 10px;
  margin: 5px 0 15px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 3px;
}

.name-inputs {
  display: flex;
  justify-content: space-between;
}

.name-input {
  width: 48%; /* Adjust the width as needed */
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #007BFF;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

#passwordMatchIndicator {
  font-size: 20px;
  display: block;
  margin-top: 10px;
}

/* Show the indicator when printing */
@media print {
  #passwordMatchIndicator {
    display: block !important;
  }
}