body {
    background-color: #334568;
}

.topnav {
    background-color: #fecf2a;
    margin: -0.5%;
    height: 51px;
}

.topnav a {
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #334568;
    font-size: 20px;
    float: left;
    padding: 14px 16px;
}

.topic {
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    margin-top: 2%;
}

.required {
    position: absolute;
    width: 203px;
    margin-top: 2%;
    margin-left: 1%;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    line-height: normal;
}

.rec1 {
    position: absolute;
    width: 158px;
    height: 482px;
    margin-top: 4%;
    margin-left: 11%;
    background-color: #ffffff;
    border-radius: 20px;
}

.compulsory {
    position: absolute;
    width: 203px;
    margin-top: 2%;
    margin-left: 13%;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    line-height: normal;
}

.rec2 {
    position: absolute;
    width: 158px;
    height: 482px;
    margin-top: 4%;
    margin-left: 11%;
    background-color: #ffffff;
    border-radius: 20px;
}

.plan-spe {
    position: absolute;
    width: 203px;
    margin-top: 2%;
    margin-left: 25%;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    line-height: normal;
}

.rec3 {
    position: absolute;
    width: 158px;
    height: 482px;
    margin-top: 4%;
    margin-left: 11%;
    background-color: #ffffff;
    border-radius: 20px;
}

.core-courses {
    position: absolute;
    width: 203px;
    margin-top: 2%;
    margin-left: 37%;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    line-height: normal;
}

.rec4 {
    position: absolute;
    width: 158px;
    height: 482px;
    margin-top: 4%;
    margin-left: 11%;
    background-color: #ffffff;
    border-radius: 20px;
}

.major {
    position: absolute;
    width: 203px;
    margin-top: 2%;
    margin-left: 49%;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    line-height: normal;
}

.rec5 {
    position: absolute;
    width: 158px;
    height: 482px;
    margin-top: 4%;
    margin-left: 11%;
    background-color: #ffffff;
    border-radius: 20px;
}

.minor {
    position: absolute;
    width: 203px;
    margin-top: 2%;
    margin-left: 61%;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    line-height: normal;
}

.rec6 {
    position: absolute;
    width: 158px;
    height: 482px;
    margin-top: 4%;
    margin-left: 11%;
    background-color: #ffffff;
    border-radius: 20px;
}

.ge {
    position: absolute;
    width: 203px;
    margin-top: 2%;
    margin-left: 73%;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    line-height: normal;
}

.rec7 {
    position: absolute;
    width: 158px;
    height: 482px;
    margin-top: 4%;
    margin-left: 11%;
    background-color: #ffffff;
    border-radius: 20px;
}

.free {
    position: absolute;
    width: 203px;
    margin-top: 2%;
    margin-left: 85%;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    line-height: normal;
}

.rec8 {
    position: absolute;
    width: 158px;
    height: 482px;
    margin-top: 4%;
    margin-left: 11%;
    background-color: #ffffff;
    border-radius: 20px;
}

.cr {
    position: absolute;
    width: 73px;
    margin-top: 250%;
    padding-left: 15%;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
}

.crbox {
    position: absolute;
    width: 45px;
    height: 24px;
    top: 0;
    left: 103%;
    background-color: #8fb5ff;
}