body {
    background-color: #334568;
    font-family: 'Bai Jamjuree', sans-serif;
}

nav {
    background-color: #fecf2a;
    height: 51px;
    display: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    justify-content: space-between;
    align-items: center;
}

.menu {
    list-style: none;
}

.menu i {
    font-weight: 700;
    color: #334568;
    font-size: 3rem;
    margin-right: 1rem;
}

.list {
    position: relative;
}

.popup-menu {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #D2E1FF;
    width: 250px;
    border-radius: 10px;
    padding: 1rem;
    position: absolute;
    right: 0;
    list-style: none;
    display: none;
    position: absolute;
    z-index: 1;
}

.popup-menu li {
    padding: .5rem 0;
}

.popup-menu li a {
    text-decoration: none;
    color: #334568;
}
.btn{
    color:#fff;
}
.Logout {
    font-family: 'Bai Jamjuree', sans-serif;
    background-color: #FF2E2E;
    border-radius: 10px;
    padding: 5px 10px;
    color: yellow;
    font-size: 16px;
    float: right;
    transition-duration: 0.3s;
    cursor: pointer;
}

.Logout:hover {
    background-color: #f94e4e;
    color: #000000;
}

.active {
    font-weight: 700;
    color: #334568;
    font-size: 20px;
    float: left;
    padding: 14px 16px;
}

.topic {

    font-weight: 700;
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    margin-top: 2%;
}
.gpa{
    margin-left: 5%;
    font-size: 20px;
    color: white;
    line-height: normal;

}
.yowbox {
    width: calc(33.33% - 20px);
    width: 203px;
    margin-top: 2%;
    font-weight: 500;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    line-height: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.recbox {
    width: 160px;
    height: 500px;
    background-color: #ffffff;
    border-radius: 20px;
}

.cr1 {
    width: 100px;
    font-weight: 500;
    color: #ffffff;
    font-size: 15px;
    line-height: normal;
}

.cr2 {
    width: 100px;
    font-weight: 500;
    color: #ffffff;
    font-size: 15px;
    line-height: normal;
}
.cr {
    width: 100px;
    font-weight: 500;
    color: #ffffff;
    font-size: 15px;
    line-height: normal;
    text-align: center;
}

.crbox {
    width: 100px;
    height: 23px;
    border-bottom: 10px solid #000;
    padding: 4px;
    font-size: 20px;
    background-color: #8fb5ff;
    word-wrap: break-word;
}

.sjname {

    font-weight: 500;
    color: #000000;
    font-size: 24px;
    text-align: center;
    margin-top: 2%;
}
.centerlist {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.centerlist > div {
    margin-right: 20px; /* Adjust the margin as needed to create space between divs */
}
.namae{
    text-align: center;
    font-size: 18.25px;
}
.spacing{
    width: 20px;
    height: 195px;
    align-items: center;
    display: flex;
    justify-content: center;
   /* background-color: #FF2E2E;*/
}