body {
    background-color: #334568;
}

nav {
    background-color: #fecf2a;
    height: 51px;
    display: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    justify-content: space-between;
    align-items: center;
}

.menu {
    list-style: none;
}

.menu i {
    font-weight: 700;
    color: #334568;
    font-size: 3rem;
    margin-right: 1rem;
}

.list {
    position: relative;
}

.popup-menu {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #D2E1FF;
    width: 250px;
    border-radius: 10px;
    padding: 1rem;
    position: absolute;
    right: 0;
    list-style: none;
    display: none;
    position: absolute;
    z-index: 1;
}

.popup-menu li {
    padding: .5rem 0;
}

.popup-menu li a {
    text-decoration: none;
    color: #334568;
    font-family: "Inter", Helvetica;
}

.Logout {
    padding: .5rem 0;
    background-color: #FF2E2E;
    border-radius: 10px;
    padding: 5px 10px;
    color: #ffffff;
    font-size: 16px;
    position: right;
    right: 0;
    float: right;
    transition-duration: 0.3s;
    cursor: pointer;
}

.Logout:hover {
    background-color: #f94e4e;
    color: #000000;
}

.active {
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #334568;
    font-size: 20px;
    float: left;
    padding: 14px 16px;
}

.topic {
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    margin-top: 2%;
}
.gpa{

    margin-left: 5%;
    font-size: 18px;
    color: white;
    line-height: normal;
    font-family: "Inter", Helvetica;
}
.required {
    position: absolute;
    width: 203px;
    margin-top: 2%;
    
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    line-height: normal;
}

.rec1 {
    position: absolute;
    width: 158px;
    height: 482px;
    margin-top: 4%;
    margin-left: 11%;
    background-color: #ffffff;
    border-radius: 20px;
}

.compulsory {
    position: absolute;
    width: 203px;
    margin-top: 2%;
    margin-left: 10%;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    line-height: normal;
}

.rec2 {
    position: absolute;
    width: 158px;
    height: 482px;
    margin-top: 4%;
    margin-left: 11%;
    background-color: #ffffff;
    border-radius: 20px;
}

.plan-spe {
    position: absolute;
    width: 203px;
    margin-top: 2%;
    margin-left: 20%;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    line-height: normal;
}

.rec3 {
    position: absolute;
    width: 158px;
    height: 482px;
    margin-top: 4%;
    margin-left: 11%;
    background-color: #ffffff;
    border-radius: 20px;
}

.core-courses {
    position: absolute;
    width: 203px;
    margin-top: 2%;
    margin-left: 30%;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    line-height: normal;
}

.rec4 {
    position: absolute;
    width: 158px;
    height: 482px;
    margin-top: 4%;
    margin-left: 11%;
    background-color: #ffffff;
    border-radius: 20px;
}

.major {
    position: absolute;
    width: 203px;
    margin-top: 2%;
    margin-left: 40%;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    line-height: normal;
}

.rec5 {
    position: absolute;
    width: 158px;
    height: 482px;
    margin-top: 4%;
    margin-left: 11%;
    background-color: #ffffff;
    border-radius: 20px;
}

.minor {
    position: absolute;
    width: 203px;
    margin-top: 2%;
    margin-left: 50%;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    line-height: normal;
}

.rec6 {
    position: absolute;
    width: 158px;
    height: 482px;
    margin-top: 4%;
    margin-left: 11%;
    background-color: #ffffff;
    border-radius: 20px;
}

.ge {
    position: absolute;
    width: 203px;
    margin-top: 2%;
    margin-left: 60%;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    line-height: normal;
}

.rec7 {
    position: absolute;
    width: 158px;
    height: 482px;
    margin-top: 4%;
    margin-left: 11%;
    background-color: #ffffff;
    border-radius: 20px;
}

.free {
    position: absolute;
    width: 203px;
    margin-top: 2%;
    margin-left: 70%;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    line-height: normal;
}

.rec8 {
    position: absolute;
    width: 158px;
    height: 482px;
    margin-top: 4%;
    margin-left: 11%;
    background-color: #ffffff;
    border-radius: 20px;
}

.non {
    position: absolute;
    width: 203px;
    margin-top: 2%;
    margin-left: 80%;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    line-height: normal;
}

.rec9 {
    position: absolute;
    width: 158px;
    height: 482px;
    margin-top: 4%;
    margin-left: 11%;
    background-color: #ffffff;
    border-radius: 20px;
}
.cr1 {
    position: absolute;
    width: 73px;
    margin-top: 265%;
    padding-left: 15%;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
}

.cr2 {
    position: absolute;
    width: 73px;
    margin-top: 280%;
    padding-left: 15%;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
}
.cr {
    position: absolute;
    width: 73px;
    margin-top: 250%;
    padding-left: 15%;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    display: block;
}

.crbox {
    position: absolute;
    width: 45px;
    height: 24px;
    top: 0;
    left: 103%;
    background-color: #8fb5ff;
}

.sjname {
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 24px;
    text-align: center;
    margin-top: 2%;
}