<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
  <title>Register</title>
</head>
<body>
  <div class="register-container">
    <h2>Register</h2>
    <form>
        <label for="email">Email (CMU account):</label>
        <input type="text" id="email" name="email" placeholder="Enter your CMU email" pattern=".+@cmu\.ac\.th" title="Please enter a CMU email address" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Enter your password" required>
  
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm your password" required onkeyup="checkPasswordMatch()">

        <div id="passwordMatchIndicator"></div>

      <label for="studentId">Student ID:</label>
      <input type="text" id="studentId" name="studentId" pattern="\d{9}" placeholder="Enter your student ID" required>

      <div class="name-inputs">
        <div class="name-input">
          <label for="firstName">First Name:</label>
          <input type="text" id="firstName" name="firstName" placeholder="Enter your first name" required>
        </div>
        <div class="name-input">
          <label for="lastName">Last Name:</label>
          <input type="text" id="lastName" name="lastName" placeholder="Enter your last name" required>
        </div>
      </div>

      <label for="yearOfStudy">Year of Study:</label>
      <input type="text" id="yearOfStudy" name="yearOfStudy" pattern="\d{4}" placeholder="Enter your year of study" required>

      <label for="studyPlan">Study Plan:</label>
      <select id="studyPlan" name="studyPlan">
        <option value="" disabled selected>Select your study plan</option>
        <option value="แผนปกติ">แผนปกติ</option>
        <option value="แผนสหกิจ">แผนสหกิจ</option>
        <option value="แผนก้าวหน้า">แผนก้าวหน้า</option>
      </select>

      <input type="submit" value="Register">
    </form>
  </div>
  <script>
    var typingTimer;
    var doneTypingInterval = 1000;  // 1 second (adjust as needed)

    function checkPasswordMatch() {
      clearTimeout(typingTimer);
      var confirmPassword = document.getElementById("confirmPassword").value;
      var indicator = document.getElementById("passwordMatchIndicator");

      typingTimer = setTimeout(function() {
        var password = document.getElementById("password").value;
        if (password === confirmPassword && password !== "") {
          indicator.innerHTML = "&#10004; Passwords match";
          indicator.style.color = "green";
        } else {
          indicator.innerHTML = "&#10006; Passwords do not match";
          indicator.style.color = "red";
        }
      }, doneTypingInterval);
    }
</script>
</body>
</html>
